@font-face {
	font-family: Righteous;
	src: url(../Fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
	font-family: Averta std;
	src: url(../Fonts/Averta/AvertaStd-Regular.ttf);
}

@font-face {
	font-family: Pushter;
	src: url(../Fonts/Pushster/Pushster-Regular.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(../Fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
	font-family: Quest;
	src: url(../Fonts/Questrial/Questrial-Regular.ttf);
}

@font-face {
	font-family: Russo;
	src: url(../Fonts/Russo_One/RussoOne-Regular.ttf);
}

@font-face {
	font-family: Changa;
	src: url(../Fonts/Changa/Changa-VariableFont_wght.ttf);
}

body {
	background-color: black;
}

.a {
	height: 100vh;
	width: 100vw;
	background-color: black;
}

.b {
	font-size: 64px;
	font-family: "Pushter";
}

.b,
.c {
	color: white;
}

.c {
	font-family: "Raleway";
	font-size: 25px;
	line-height: 50px;
}

.vid {
	width: 40vw;
	height: 60vh;
	margin-left: 9vw;
}

.d {
	height: 100vh;
	background-color: white;
}

.e {
	font-family: "Righteous";
	font-size: 50px;
	color: black;
}

.f {
	font-family: "Quest";
	font-size: 25px;
	line-height: 45px;
	margin-left: 2vw;
}

.h {
	color: white;
	font-family: monospace;
	font-size: 40px;
	margin: 1vw;
}

.j {
	background-color: black;
	height: 120vh;
}

.vid1 {
	width: 47vw;
	height: 70vh;
}

.k {
	color: rgba(246, 250, 9, 0.918);
	font-size: 25px;
	line-height: 55px;
	margin-left: 2vw;
	margin-right: 2vw;
}

.l {
	height: 110vh;
	background-color: rgb(204, 255, 0);
	color: black;
}

.m {
	margin-left: 2vw;
	height: 50vh;
	width: 45vw;
}

.n {
	font-size: 50px;
	font-family: "Russo";
	color: black;
}

.o {
	color: black;
	font-size: 20px;
	margin-left: 2vw;
	margin-right: 2vw;
	line-height: 40px;
	font-family: "Changa";
	font-weight: 500;
}

.p {
	margin-left: 2vw;
	height: 50vh;
	width: 48vw;
}

.m,
.p {
	border-radius: 10px;
}

@media only screen and (max-width: 989px) {
	.vid {
		visibility: hidden;
	}
}
