

.def	{ 
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 600% 600%;
	animation: gradient 8s ease infinite;
	height: 100vh;
	

}

.imp{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 600% 600%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}

.pdef{
    font-size: 180%;
    font-weight: 450;
    line-height: 160%;
    
}
.b{
    font-size: 260%;
    font-weight: 700;
    padding-top: 5vh;
}

.vid{
     width: 40vw;
     height: 70vh;
     margin-top: 5vh;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.g{
    font-size :140%; 
    font-weight: 400;
}

.impv{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 600% 600%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}

.IMP{
    font-size: 380%;
    font-weight: 600;
}

#efg{
    font-size: 160%;
    font-weight: 350;
}