body {
	background-color: whitesmoke;
}

.a {
	position: absolute;
	margin: 4%;
	margin-top: 0%;
	visibility: hidden;
}

.b {
	background-color: rgba(207, 203, 203, 0.952);
}

.c {
	width: 50%;
	border: none;
	color: rgb(255, 193, 7);
	background-color: black;
}

.c:hover {
	background-color: rgb(255, 193, 7);
	color: white;
	transition: color 0.8s;
	transition: background-color 0.5s;
}

.d {
	color: blueviolet;
}

.e {
	border: none;
}

.button {
	border-radius: 20px;
	padding: 20px;
}

.f {
	border: 0;
	width: 50%;
	background-color: black;
	color: rgb(255, 193, 7);
}

.fa-credit-card {
	color: rgb(255, 193, 7);
}

.f:hover {
	background-color: #253b80;
	color: #2997d8;
	transition: color 0.5s;
	transition: background-color 0.8s;
}

.g {
	border: none;
	width: 50%;
	background-color: black;
	color: rgb(255, 193, 7);
}

.g:hover {
	background-color: rgba(125, 182, 39, 0.781);
	color: white;
	transition: color 0.5s;
	transition: background-color 0.8s;
}

.h {
	position: absolute;
	margin: 4%;
	margin-top: 0%;
	visibility: hidden;
}

.i {
	letter-spacing: 4px;
}

.j {
	border: none;
	width: 50%;
	background-color: black;
	color: rgb(255, 193, 7);
}

.j:hover {
	background-color: rgb(64, 133, 88);
	color: white;
	transition: color 0.5s;
	transition: background-color 0.8s;
}

.k {
	border: none;
	width: 50%;
	background-color: black;
	color: rgb(255, 193, 7);
}

.k:hover {
	background-color: rgb(237, 150, 57);
	color: #000;
	transition: color 0.5s;
	transition: background-color 0.8s;
}

.button:hover {
	background-color: blueviolet;
	color: white;
	transition: background-color 0.9s;
	transition: color 0.5s;
}

#crypto {
	visibility: hidden;
}

.pay {
	color: #2997d8;
}

#paypal {
	visibility: hidden;
	position: absolute;
	margin-left: 5%;
}

label {
	cursor: pointer;
}

table {
	line-height: 50px;
}

#Net {
	visibility: hidden;
}

.fa-bitcoin {
	color: rgb(237, 150, 57);
}

.m {
	color: #c3073f;
}

.n {
	color: rgb(106, 112, 212);
}

.o {
	border: none;
	width: 50%;
	background-color: black;
	color: rgb(255, 193, 7);
}

.o:hover {
	background-color: rgb(106, 112, 212);
	color: white;
	transition: color 0.5s;
	transition: background-color 0.8s;
}

.p {
	border: none;
	width: 50%;
	background-color: black;
	color: rgb(255, 193, 7);
}

.p:hover {
	background-color: #c3073f;
	color: white;
	width: 50%;
	transition: color 0.5s;
	transition: background-color 0.8s;
}

@keyframes opac {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
