@font-face {
	font-family: Acme;
	src: url(../Fonts/Acme/Acme-Regular.ttf);
}

body {
	background-color: black;
}
.a {
	height: 100vh;
}

.b {
	color: #3500d3;
	font-family: Acme;
	font-size: 80px;
}

.vid {
	width: 40vw;
	height: 70vh;
	margin-right: 9vw;
	border: none;
	border-radius: 5px;
}

.col-lg-7 {
	width: 50vw;
	line-height: 40px;
	font-size: 30px;
	margin-left: 20px;
	font-weight: 600;
}

.d {
	height: 100vh;
	background-color: orange;
}
.f {
	color: whitesmoke;
	font-size: 30px;
}
.z {
	background-color: blue;
	height: 100vh;
}
.IMP {
	color: rgb(115, 255, 0);
	font-size: 50px;
}

#efg {
	color: papayawhip;
	font-size: 30px;
}

b {
	color: aqua;
}
li {
	margin-bottom: 40px;
}
.nss {
	color: blueviolet;
	font-size: 50px;
}
.col {
	margin-bottom: 5vw;
}
.ncc {
	background-color: chartreuse;
}

@media only screen and (max-width: 989px) {
	.vid {
		visibility: hidden;
	}
}
