@font-face {
	font-family: spartan;
	src: url(../Fonts/Spartan/Spartan-VariableFont_wght.ttf);
}
@font-face {
	font-family: changa;
	src: url(../Fonts/Changa/Changa-VariableFont_wght.ttf);
}
@font-face {
	font-family: raleway;
	src: url(../Fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
	font-family: Averta std;
	src: url(../Fonts/Averta/AvertaStd-Regular.ttf);
}
.f {
	height: 100vh;
	background: url(../media/LS.png);
	background-size: 100vw 100vh;
	background-attachment: fixed;
}
.t {
	height: 100vh;
	width: 100vw;
}
.img {
	height: 100vh;
	width: 100vw;
}
.a {
	height: 102vh;
}
#ps {
	font-size: 90px;
	font-family: changa;
	color: #3500d3;
	/* color: #feffff; */
	padding-left: 3%;
}
.b {
	font-size: 40px;
	line-height: 65px;
	color: #3500d3;
	/* color: #17252a; */
	/* font-weight: 700; */
}
.vid {
	width: 47vw;
	height: 70vh;
}
#imp {
	font-size: 60px;
	font-family: spartan;
	text-shadow: 3px 3px 3px rgb(236, 158, 158);
}
.c {
	font-size: 36px;
	line-height: 53px;
	font-family: raleway;
	color: rgb(224, 15, 15);
	padding-left: 6%;
}
#ways {
	padding-left: 2%;
	font-size: 60px;
	color: #cebc81;
	text-shadow: 3px 3px 2px black;
}
.e {
	color: #cebc81;
	font-size: 30px;
}
#help {
	font-size: 70px;
	text-align: center;
	padding-top: 10px;
	font-family: Averta std;
}
