@font-face {
	font-family: Righteous;
	src: url(../Fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
	font-family: Changa;
	src: url(../Fonts/Changa/Changa-VariableFont_wght.ttf);
}

@font-face {
	font-family: Averta;
	src: url(../Fonts/Averta/AvertaStd-Regular.ttf);
}

@font-face {
	font-family: Questrial;
	src: url(../Fonts/Questrial/Questrial-Regular.ttf);
}

body {
	background-color: #fcde67;
}

.a {
	color: #5bccf6;
	font-size: 70px;
	font-family: "Righteous";
}

.b {
	color: black;
	font-size: 32.5px;
	font-family: "Changa";
	font-weight: 400;
	line-height: 70px;
}

.c {
	height: 100vh;
	background-color: #fcde67;
}

.d {
	background-color: #5bccf6;
	height: 100vh;
}

.e {
	color: #fcde67;
	font-family: "Averta";
	font-size: 70px;
}

.f {
	color: #fcde67;
	font-family: "Questrial";
	font-size: 40px;
	line-height: 80px;
}

.g {
	background-color: #000;
	height: 130vh;
}

.h {
	color: #5bccf6;
	font-size: 70px;
}

ol[type="1"] {
	color: #fcde67;
}

.i {
	color: #5bccf6;
	font-size: 25px;
	line-height: 45px;
}

li strong {
	color: #fcde67;
}

li span {
	color: #5bccf6;
}

.vid {
	width: 40vw;
	height: 70vh;
	margin-right: 9vw;
	border: none;
	border-radius: 5px;
}

@media only screen and (max-width: 989px) {
	.vid {
		visibility: hidden;
	}
}
